doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/components/angular-material/angular-material.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div(ng-app="signinbook")
			header(
				layout="row"
				ng-controller="HeaderController"
				ng-cloak
			)
				div(flex=25)
					img.logo(src="/images/logo.png")
				div(flex=50)
					h1= title
				div(flex=25)
					div.time {{currentTime}}
					div.date {{currentDate}}
			div.content
				block content

	script(src='/components/moment/min/moment.min.js')
	script(src='/components/angular/angular.min.js')
	script(src='/components/angular-messages/angular-messages.min.js')
	script(src='/components/angular-aria/angular-aria.min.js')
	script(src='/components/angular-animate/angular-animate.min.js')
	script(src='/components/angular-material/angular-material.min.js')

	script(src='/javascripts/app.js')
	script(src='/javascripts/services/UsersService.js')
	script(src='/javascripts/services/EntriesService.js')
	script(src='/javascripts/services/AbsencesService.js')
	script(src='/javascripts/services/AwolsService.js')
	script(src='/javascripts/controllers/HeaderController.js')
	script(src='/javascripts/controllers/DashboardController.js')
	script(src='/javascripts/controllers/AdminController.js')
