extends ../layout

block content

	div(ng-controller="DashboardContoller")


		div(ng-hide="data.users.length") Loading all staff ...

		md-list(ng-cloak)

			md-list-item(
				ng-repeat="user in data.users"
				class="{{user.in ? 'person-in' : 'person-out'}}"
			)
				div.person(
					layout="row"
					flex
					ng-click="showConfirm($event, user)"
				)
					p(flex="70") {{ user.displayName }}
					p(flex="15") {{ user.updatedAt | date:'HH:mm:ss' }}
					p.status(flex="15") {{user.in ? 'In' : 'Out'}}