extends layout

block content
	div.login

		p In order to show all users, you must login. Anyone at Alert can do this.
		a(href="/auth/login").md-button.md-primary.md-raised Login with your Office 365 account
